In [2]:
import numpy as np
import pandas as pd
import keras

In [3]:
df=pd.read_csv("Concrete_Data_Yeh.csv")

In [4]:
display(df)

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age,csMPa
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [8]:
print("Shape:",df.shape)
print("Columns: \n",df.columns)
print(df.describe)

Shape: (1030, 9)
Columns:
 Index(['cement', 'slag', 'flyash', 'water', 'superplasticizer',
       'coarseaggregate', 'fineaggregate', 'age', 'csMPa'],
      dtype='object')
<bound method NDFrame.describe of       cement   slag  flyash  water  superplasticizer  coarseaggregate  \
0      540.0    0.0     0.0  162.0               2.5           1040.0
1      540.0    0.0     0.0  162.0               2.5           1055.0
2      332.5  142.5     0.0  228.0               0.0            932.0
3      332.5  142.5     0.0  228.0               0.0            932.0
4      198.6  132.4     0.0  192.0               0.0            978.4
...      ...    ...     ...    ...               ...              ...
1025   276.4  116.0    90.3  179.6               8.9            870.1
1026   322.2    0.0   115.6  196.0              10.4            817.9
1027   148.5  139.4   108.6  192.7               6.1            892.4
1028   159.1  186.7     0.0  175.6              11.3            989.6
1029   260.9  100.5    78.3  200.6               8.6            864.5

      fineaggregate  age  csMPa
0             676.0   28  79.99
1             676.0   28  61.89
2             594.0  270  40.27
3             594.0  365  41.05
4             825.5  360  44.30
...             ...  ...    ...
1025          768.3   28  44.28
1026          813.4   28  31.18
1027          780.0   28  23.70
1028          788.9   28  32.77
1029          761.5   28  32.40

[1030 rows x 9 columns]>

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cement            1030 non-null   float64
 1   slag              1030 non-null   float64
 2   flyash            1030 non-null   float64
 3   water             1030 non-null   float64
 4   superplasticizer  1030 non-null   float64
 5   coarseaggregate   1030 non-null   float64
 6   fineaggregate     1030 non-null   float64
 7   age               1030 non-null   int64
 8   csMPa             1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [10]:
df.isna().any()

cement              False
slag                False
flyash              False
water               False
superplasticizer    False
coarseaggregate     False
fineaggregate       False
age                 False
csMPa               False
dtype: bool

In [14]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [12]:
sca=StandardScaler()

In [13]:
x=df.iloc[:,0:8]
y=df['csMPa']

In [15]:
xtr,xts,ytr,yts=train_test_split(x,y,test_size=0.25,random_state=0)

In [16]:
xtr=sca.fit_transform(xtr)
xts=sca.transform(xts)

In [17]:
xtr

array([[ 2.40581388, -0.87787194, -0.85141418, ..., -1.54161564,
         1.47408654, -0.68894905],
       [-0.42832564, -0.87787194,  0.60996192, ..., -0.31447368,
         0.95963971,  0.84413251],
       [-0.60837686, -0.26951841,  1.03169096, ...,  0.55577557,
         0.07206398,  0.14871407],
       ...,
       [-1.28380708, -0.87787194,  1.85197712, ..., -0.36619726,
         0.85798998, -0.29382494],
       [-0.37307183,  3.18611055, -0.85141418, ..., -0.38430051,
        -1.36962676, -0.29382494],
       [-0.82653415,  2.37874174, -0.85141418, ..., -0.53688508,
        -0.72749795,  0.68608287]])

In [18]:
# import libraries for ANN Model.
from keras.models import Sequential
from keras.layers import Dense

In [19]:
mod=Sequential()

In [21]:
mod.add(Dense(units=6,input_dim=8,kernel_initializer='normal',activation='relu'))

In [22]:
mod.add(Dense(units=6,kernel_initializer='normal',activation='relu'))

In [23]:
mod.add(Dense(1,kernel_initializer='normal'))

In [25]:
mod.compile(loss='mean_squared_error',optimizer='adam')

In [27]:
mod.fit(xtr,ytr,batch_size=20,epochs=50,verbose=1)

Epoch 1/50
39/39 [==============================] - 0s 1ms/step - loss: 1589.3402
Epoch 2/50
39/39 [==============================] - 0s 1ms/step - loss: 1571.0934
Epoch 3/50
39/39 [==============================] - 0s 1ms/step - loss: 1534.2559
Epoch 4/50
39/39 [==============================] - 0s 1ms/step - loss: 1469.4702
Epoch 5/50
39/39 [==============================] - 0s 1ms/step - loss: 1369.1167
Epoch 6/50
39/39 [==============================] - 0s 1ms/step - loss: 1230.8213
Epoch 7/50
39/39 [==============================] - 0s 1ms/step - loss: 1063.9463
Epoch 8/50
39/39 [==============================] - 0s 1ms/step - loss: 880.8950
Epoch 9/50
39/39 [==============================] - 0s 1ms/step - loss: 702.8088
Epoch 10/50
39/39 [==============================] - 0s 997us/step - loss: 544.9967
Epoch 11/50
39/39 [==============================] - 0s 954us/step - loss: 421.8021
Epoch 12/50
39/39 [==============================] - 0s 1ms/step - loss: 332.3620
Epoch 13/50
39/39 [==============================] - 0s 1ms/step - loss: 276.9833
Epoch 14/50
39/39 [==============================] - 0s 1ms/step - loss: 245.8883
Epoch 15/50
39/39 [==============================] - 0s 1ms/step - loss: 228.5637
Epoch 16/50
39/39 [==============================] - 0s 1ms/step - loss: 217.0360
Epoch 17/50
39/39 [==============================] - 0s 1ms/step - loss: 207.7335
Epoch 18/50
39/39 [==============================] - 0s 984us/step - loss: 199.3515
Epoch 19/50
39/39 [==============================] - 0s 1ms/step - loss: 191.1492
Epoch 20/50
39/39 [==============================] - 0s 1ms/step - loss: 184.0199
Epoch 21/50
39/39 [==============================] - 0s 2ms/step - loss: 176.9240
Epoch 22/50
39/39 [==============================] - 0s 1ms/step - loss: 170.4868
Epoch 23/50
39/39 [==============================] - 0s 1ms/step - loss: 164.5526
Epoch 24/50
39/39 [==============================] - 0s 1ms/step - loss: 159.1059
Epoch 25/50
39/39 [==============================] - 0s 1ms/step - loss: 154.4550
Epoch 26/50
39/39 [==============================] - 0s 2ms/step - loss: 149.9685
Epoch 27/50
39/39 [==============================] - 0s 1ms/step - loss: 146.3334
Epoch 28/50
39/39 [==============================] - 0s 1ms/step - loss: 143.1346
Epoch 29/50
39/39 [==============================] - 0s 1ms/step - loss: 140.2746
Epoch 30/50
39/39 [==============================] - 0s 1ms/step - loss: 137.4158
Epoch 31/50
39/39 [==============================] - 0s 953us/step - loss: 135.1015
Epoch 32/50
39/39 [==============================] - 0s 998us/step - loss: 132.8115
Epoch 33/50
39/39 [==============================] - 0s 988us/step - loss: 131.0024
Epoch 34/50
39/39 [==============================] - 0s 1ms/step - loss: 129.3703
Epoch 35/50
39/39 [==============================] - 0s 1ms/step - loss: 127.9621
Epoch 36/50
39/39 [==============================] - 0s 1ms/step - loss: 126.7852
Epoch 37/50
39/39 [==============================] - 0s 1ms/step - loss: 125.2129
Epoch 38/50
39/39 [==============================] - 0s 1ms/step - loss: 123.9820
Epoch 39/50
39/39 [==============================] - 0s 1ms/step - loss: 122.9018
Epoch 40/50
39/39 [==============================] - 0s 1ms/step - loss: 122.0274
Epoch 41/50
39/39 [==============================] - 0s 1ms/step - loss: 121.0144
Epoch 42/50
39/39 [==============================] - 0s 1ms/step - loss: 119.9930
Epoch 43/50
39/39 [==============================] - 0s 1ms/step - loss: 119.3790
Epoch 44/50
39/39 [==============================] - 0s 998us/step - loss: 118.8432
Epoch 45/50
39/39 [==============================] - 0s 982us/step - loss: 118.5075
Epoch 46/50
39/39 [==============================] - 0s 999us/step - loss: 117.8853
Epoch 47/50
39/39 [==============================] - 0s 1ms/step - loss: 117.4499
Epoch 48/50
39/39 [==============================] - 0s 2ms/step - loss: 117.1445
Epoch 49/50
39/39 [==============================] - 0s 1ms/step - loss: 116.7357
Epoch 50/50
39/39 [==============================] - 0s 1ms/step - loss: 116.4279

In [32]:
from sklearn.metrics import mean_squared_error,r2_score

In [29]:
pred=mod.predict(xts)
print(pred)

9/9 [==============================] - 0s 1ms/step
[[37.80508 ]
 [17.82779 ]
 [60.241993]
 [55.318676]
 [25.212927]
 [54.947834]
 [48.95504 ]
 [30.266438]
 [54.93189 ]
 [38.64122 ]
 [19.233965]
 [40.75498 ]
 [25.95598 ]
 [33.693542]
 [48.62145 ]
 [56.827477]
 [36.062737]
 [28.48805 ]
 [49.030396]
 [32.753345]
 [51.20222 ]
 [31.106358]
 [32.15443 ]
 [48.592594]
 [23.413174]
 [23.05692 ]
 [71.04293 ]
 [29.700811]
 [56.827477]
 [47.17871 ]
 [20.450466]
 [38.08367 ]
 [19.751678]
 [29.825424]
 [24.846525]
 [17.179583]
 [54.510033]
 [28.5579  ]
 [29.002363]
 [26.654701]
 [50.906765]
 [30.869328]
 [24.535297]
 [32.362247]
 [57.322056]
 [53.83965 ]
 [30.526009]
 [42.366234]
 [37.850853]
 [55.32285 ]
 [37.984547]
 [19.665298]
 [20.39708 ]
 [30.700907]
 [40.021996]
 [44.5489  ]
 [35.91148 ]
 [53.427685]
 [59.6405  ]
 [36.653282]
 [31.327766]
 [16.84597 ]
 [48.803806]
 [56.820328]
 [20.150978]
 [46.052753]
 [31.761337]
 [33.38631 ]
 [22.700308]
 [20.099092]
 [30.294569]
 [30.29721 ]
 [54.27745 ]
 [20.231607]
 [35.21024 ]
 [51.026634]
 [25.863256]
 [22.311834]
 [23.747646]
 [25.567226]
 [21.257202]
 [42.54333 ]
 [33.175232]
 [30.305729]
 [35.817944]
 [35.288242]
 [46.4322  ]
 [48.13762 ]
 [37.122314]
 [34.23006 ]
 [51.987164]
 [19.319366]
 [29.080204]
 [37.572487]
 [31.220818]
 [54.480125]
 [30.160336]
 [31.911358]
 [48.83379 ]
 [26.404585]
 [26.881062]
 [39.42596 ]
 [21.37522 ]
 [31.07032 ]
 [36.527718]
 [35.746754]
 [37.256634]
 [34.29968 ]
 [27.789831]
 [37.851234]
 [21.848488]
 [54.58819 ]
 [28.15609 ]
 [30.079052]
 [41.080208]
 [61.738873]
 [31.629482]
 [36.87922 ]
 [39.976376]
 [29.095547]
 [39.74789 ]
 [26.197304]
 [61.38085 ]
 [22.93648 ]
 [21.060558]
 [19.079868]
 [18.298632]
 [20.875088]
 [39.29831 ]
 [30.383467]
 [30.435886]
 [46.493053]
 [31.221045]
 [21.32254 ]
 [21.189674]
 [51.79525 ]
 [60.968063]
 [36.209385]
 [16.843903]
 [22.072336]
 [36.94295 ]
 [46.113983]
 [30.542873]
 [24.24203 ]
 [19.69191 ]
 [35.481525]
 [45.83917 ]
 [22.431068]
 [28.314072]
 [18.992409]
 [22.636087]
 [35.44813 ]
 [24.330956]
 [29.515825]
 [31.147898]
 [29.733809]
 [47.10075 ]
 [30.662392]
 [29.780172]
 [21.702156]
 [41.612183]
 [39.943447]
 [27.676395]
 [25.711622]
 [33.326286]
 [19.608673]
 [53.75491 ]
 [53.76288 ]
 [56.106823]
 [13.256793]
 [32.049515]
 [29.418932]
 [24.002375]
 [58.66715 ]
 [23.296938]
 [20.153028]
 [15.771179]
 [49.744434]
 [24.083431]
 [41.458416]
 [32.57497 ]
 [30.79251 ]
 [18.377842]
 [39.576157]
 [31.290237]
 [35.70634 ]
 [40.719822]
 [39.106884]
 [30.812237]
 [48.803806]
 [21.357153]
 [74.10754 ]
 [44.89954 ]
 [28.568417]
 [18.316868]
 [28.87617 ]
 [29.752506]
 [25.310036]
 [28.351568]
 [56.707615]
 [18.437506]
 [21.78252 ]
 [44.827812]
 [30.901096]
 [31.918829]
 [20.240498]
 [40.076263]
 [30.444534]
 [31.958918]
 [23.688477]
 [46.238033]
 [21.33926 ]
 [23.629644]
 [22.976881]
 [32.985462]
 [22.36144 ]
 [22.784584]
 [37.649654]
 [20.175308]
 [39.139072]
 [56.331623]
 [31.058512]
 [37.249294]
 [38.438915]
 [44.847813]
 [33.98163 ]
 [25.329294]
 [32.7853  ]
 [36.562695]
 [43.570183]
 [38.38279 ]
 [38.04528 ]
 [62.008324]
 [21.445425]
 [41.72169 ]
 [31.18864 ]
 [29.802517]
 [36.49272 ]
 [28.02263 ]
 [57.579388]
 [60.31088 ]
 [33.604656]
 [41.04109 ]
 [32.24474 ]
 [28.256054]
 [30.144367]
 [46.535336]
 [25.817316]
 [34.11215 ]
 [16.77199 ]
 [13.603094]
 [40.148968]
 [42.10869 ]
 [33.31671 ]
 [38.470387]
 [22.52478 ]
 [24.366823]
 [18.946697]]

In [34]:
m=mean_squared_error(yts,pred)
print("MSE is:  ",m)
r=r2_score(yts,pred)
print("R SQUARED VALUE is:  ",r*100)

MSE is:   98.66709542391438
R SQUARED VALUE is:   61.25602005509252